input.input {
  font-family: var(--source-sans);
  font-size: 1rem;
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  padding: 1rem 0.5rem;
  width: 100%;
  position: relative;

  &:hover {
    box-shadow: 0 0 0 1px var(--gray-text);
    border-radius: 5px;
  }

  &::placeholder {
    color: #fff;
    opacity: 0.6;
  }

  &:focus {
    box-shadow: 0 0 0 1.5px #fff;
    border-radius: 5px;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.label {
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 1rem;
  padding: 0 3px;
  left: 0.5rem;
  cursor: text;
}

input.input:focus ~ .label,
label.focused {
  font-size: 0.85rem;
  transform: translate(0, -50%);
  top: -0.05rem;
  background-color: #000;
}

input.success {
  border: 2px solid var(--salty-green);
  border-radius: 5px;
}

input.error {
  border: 2px solid var(--salmon-pink);
  border-radius: 5px;

  &::placeholder {
    color: #f04438;
    opacity: 0.6;
  }
}

label.error {
  color: var(--salmon-pink);
}

label.success {
  color: var(--salty-green);
}
