.testimonialsSection {
  width: 100%;
  max-width: var(--max-width);

  .testimonialsIntroContainer {
    .testimonialsIntroText {
      position: relative;
      z-index: 20;
      font-weight: 600;
      font-size: 2.25rem;

      @media (width <=768px) {
        font-size: clamp(1.25rem, 3vw, 1.75rem);
        text-align: center;
      }

      .purpleUnderline {
        position: relative;
        z-index: -1;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 17px;
          left: 0;
          bottom: 1px;
          z-index: -1;
          background: var(--adobe-purple);
        }
      }
    }
  }

  .testimonialsContainer {
    margin-top: 85px;
    padding: 0 70px;

    @media (width <=1400px) {
      padding: 0;
    }

    @media (width <=960px) {
      margin-top: 0;
    }

    .rowReverse {
      flex-direction: row-reverse;
    }

    .row {
      flex-direction: row;
    }

    .testimonial {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2.25rem;

      @media (width <=960px) {
        flex-direction: column-reverse;
      }

      .orangeBorder {
        border-left: 8px solid var(--ez-orange);
      }

      .purpleBorder {
        border-left: 8px solid var(--adobe-purple);
      }

      .testimonialTextContainer {
        height: fit-content;
        padding: 0 2rem;
        max-width: 40%;

        @media (width <=1200px) {
          max-width: 50%;
        }

        @media (width <=960px) {
          border-left: none;
          padding: 0;
          max-width: none;
        }

        .testimonialText {
          font-size: 1.5rem;
          font-weight: 300;
          white-space: pre-line;

          @media (width <=960px) {
            font-size: 1rem;
            margin-top: 3rem;
            text-align: center;
          }
        }

        .testimonialAuthor {
          font-size: 0.85rem;
          font-weight: 200;
          font-style: italic;
          margin-top: 1rem;
          white-space: pre-line;

          @media (width <=960px) {
            text-align: center;
          }
        }
      }

      .testimonialVideo {
        width: auto;
        width: 35lvw;
        height: 25lvh;
        padding: 45% 0 0;

        @media (width <=960px) {
          width: 90lvw;
          height: 80lvh;
          padding: 2% 0 0;
        }
      }
    }
  }
}
