.contactSection {
  width: 100%;
  padding: 0 var(--content-padding);

  @media (width <=1000px) {
    padding: 0 var(--content-padding-sm);
  }

  .topSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (width <=1000px) {
      display: none;
    }

    .topSectionText {
      display: flex;
      flex-direction: column;
      gap: 7px;

      .contactTitle {
        font-size: clamp(1rem, 3vw, 5rem);
        font-weight: 400;
      }
    }
  }

  .bottomSection {
    width: 100%;
    margin-top: 120px;

    .bottomSectionLinks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid #6e6e6e;
      padding-bottom: 10px;

      .logo {
        cursor: pointer;
        position: relative;
        left: -10px;
      }

      .socialLinks {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        right: -3px;

        @media (width <=400px) {
          gap: 0;
        }
      }
    }

    .copyrightFooter {
      padding-top: 25px;
      color: #6e6e6e;
      margin-bottom: 100px;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      justify-content: space-between;

      @media (width <=500px) {
        font-size: 0.85rem;
      }

      .pageLinks {
        display: flex;
        align-items: center;
        gap: 2rem;

        @media (width <=1000px) {
          flex-direction: column;
          gap: 0.25rem;
          align-items: flex-end;
          white-space: nowrap;
        }

        @media (width <=500px) {
          font-size: 0.75rem;
        }
      }
    }
  }
}
