@mixin title($max-width, $font-size) {
  max-width: $max-width;
  font-size: $font-size;
  color: #fff;
  line-height: 100%;
  font-weight: 700;
}

@mixin description($max-width, $font-size) {
  max-width: $max-width;
  font-size: $font-size;
}

.accordion {
  width: 100%;
  position: relative;

  .heading {
    color: var(--white-text);
    font-weight: 600;
    text-transform: uppercase;
    padding-left: var(--content-padding);
    margin-bottom: 2rem;
  }

  .accordionSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 70px var(--content-padding);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 305px;

    @media screen and (width <= 1000px) {
      height: 320px;
      padding: 0 var(--content-padding-sm);
    }

    @media screen and (width <= 800px) {
      height: auto;
      padding: 70px var(--content-padding-sm);
      flex-direction: column;
      align-items: flex-start;
      gap: 2.5rem;
      margin: var(--content-padding-sm);
      border: none;
      cursor: auto;
    }

    .noWrap {
      white-space: nowrap;
    }

    .accordionTitleService {
      @include title(50%, 4.5rem);

      @media screen and (width <= 1200px) {
        white-space: normal;
      }

      @media screen and (width <= 800px) {
        @include title(100%, 2.5rem);
      }
    }

    .descriptionServices {
      @include description(40%, 1rem);

      @media screen and (width <= 800px) {
        @include description(100%, 1rem);
      }
    }
  }

  // FAQ SECTION

  .faqSection {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 240px;
    position: relative;
    padding: 100px var(--content-padding);

    @media screen and (width <= 1000px) {
      height: 320px;
      padding: 0 var(--content-padding-sm);
    }

    @media screen and (width <= 800px) {
      padding: 70px var(--content-padding-sm);
      height: auto;
    }

    .accordionTitleFaq {
      @include title(100%, 2rem);

      @media screen and (width <= 1450px) {
        white-space: normal;
      }
    }

    .descriptionFaq {
      @include description(max-content, 1rem);

      width: fit-content;
      position: absolute;
      margin-top: 0.5rem;

      @media screen and (width <= 800px) {
        position: relative;
        margin-top: 0;
      }
    }
  }
}
