.carouselContainer {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;

    .carouselTrack {
        display: flex;
        position: absolute;
        left: 0;
        justify-content: center;
        align-items: center;
        height: 80px;
        gap: 16px;
        width: 200%;
        height: 100%;
        animation: slide 20s linear infinite;

        // &:hover {
        //     animation-play-state: paused;
        // }

        @keyframes slide {
            0% {
                left: 0;
            }

            100% {
                left: -100%;
            }
        }
    }
}

.carouselCard {
    display: flex;
    width: 100%;
    height: auto;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 7px;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.75rem;

    .carouselCardImg {
        // Will need to make more responsive for smaller screen heights
        width: 230px;
        height: 250px;
        object-fit: cover;
    }

    .carouselInfo {

        .carouselTitle {
            font-size: 1rem;
            font-weight: 700;
        }

        .subTitleWrapper {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .carouselSubTitle {
                font-size: 0.75rem;
            }
            .carouselLink {
                font-size: 4px;
            }
        }

        
    }


}