.carouselContainer {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;

    .carouselTrack {
        display: flex;
        position: absolute;
        left: 0;
        justify-content: center;
        align-items: center;
        height: 80px;
        gap: 1rem;
        width: fit-content;
        height: 100%;
    }

    .horizontal {
        animation: slide 30s linear infinite;

        @keyframes slide {
            to {
                transform: translate(calc(-50% - 0.5rem));
            }
        }
    }
    .horizontalReverse {
        animation: slide 30s linear reverse infinite;

        @keyframes slide {
            to {
                transform: translate(calc(-50% - 0.5rem));
            }
        }
    }

    .vertical {
        max-height: fit-content;
        flex-direction: column;
        animation: slideUp 10s linear infinite;

        @keyframes slideUp {
            to {
                transform: translateY(calc(-50% - 0.5rem));
            }
        }
    }

    .verticalReverse {
        // height: fit-content;
        flex-direction: column-reverse;
        animation: slideUp 10s linear reverse infinite;

        @keyframes slideUp {
            to {
                transform: translateY(calc(-100% - 0.5rem));
            }
        }
    }
}

.carouselCard {
    display: flex;
    width: 100%;
    height: auto;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 7px;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.75rem;

    .carouselCardImg {
        // Will need to make more responsive for smaller screen heights
        width: 230px;
        height: 250px;
        object-fit: cover;
    }

    .carouselInfo {

        .carouselTitle {
            font-size: 1rem;
            font-weight: 700;
        }

        .subTitleWrapper {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .carouselSubTitle {
                font-size: 0.75rem;
            }
            .carouselLink {
                font-size: 4px;
            }
        }

        
    }


}