.carouselContainer {
    overflow: hidden;
    position: relative;
    height: 100%;
    border-color: #4b5563;
    width: 100%;

    .carouselTrack {
        display: flex;
        position: absolute;
        left: 0;
        justify-content: center;
        align-items: center;
        height: 80px;
        gap: 16px;
        width: 200%;
        height: 100%;
        animation: slide 20s linear infinite;

        &:hover {
            animation-play-state: paused;
        }

        @keyframes slide {
            0% {
                left: 0;
            }

            100% {
                left: -100%;
            }
        }
    }
}

.carouselCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;

    &:hover {
        transform: scale(0.95);
        box-shadow: 5px 5px 8px rgba(222, 222, 222, 0.362),
            10px 10px 8px rgba(152, 133, 133, 0.392),
            15px 15px 8px rgba(139, 154, 139, 0.303);
    }

    border-radius: 7px;
    background: rgb(41, 40, 40);
    display: flex;
    flex-direction: column;

    .carouselCardImg {
        height: 80%;
        width: 80%;
        object-fit: cover;
    }
}