.navbar {
  display: flex;
  justify-content: center;
  width: 100vw;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  z-index: 999;

  .navbarContainer {
    width: 75%;
    border-radius: 50px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;

    .link {
      border-radius: 27px;
      cursor: pointer;
      padding: 0.8rem;
      transition: background-color 0.3s ease-in-out;

      @media screen and (max-width: 800px) {
        padding: 0.5rem 0.25rem;
        font-size: 0.75rem;
      }

      &:hover {
        background-color: var(--heightened-grey);
      }
    }
  }
}
