.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  position: fixed;
  bottom: 26px;
  z-index: 999;
  padding: 0 2rem;

  @media screen and (width <= 800px) {
    display: none;
  }

  .navbarContainer {
    width: 55%;
    border-radius: 50px;
    border: 1px solid #fff;
    background: rgb(255 255 255 / 20%);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.65rem 0.9rem;

    @media screen and (width <= 1200px) {
      width: 77%;
    }

    .link {
      border-radius: 27px;
      cursor: pointer;
      padding: 0.8rem;
      transition: background-color 0.3s ease-in-out;
      font-size: 0.85rem;

      &:hover {
        background-color: var(--heightened-grey);
      }
    }

    .linkActive {
      background-color: #000;

      &:hover {
        background-color: #000;
      }
    }

    .arrow {
      position: relative;
      top: 3px;
      right: 0.8rem;
    }
  }
}
