.container {
  width: 100%;

  .logoContainer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--content-padding);

    @media (width <= 850px) {
      padding: 0 var(--content-padding-sm);
    }

    .logo {
      cursor: pointer;
    }
  }

  .wrapper {
    width: 100%;
    padding: 2rem 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    @media screen and (width <=950px) {
      padding: 2rem var(--content-padding);
    }

    @media screen and (width <=850px) {
      padding: 2rem var(--content-padding-sm);
    }

    .intro {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (width <=1400px) {
        flex-direction: column;
        gap: 1.25rem;
        align-items: flex-start;
      }

      @media screen and (width <=850px) {
        align-items: flex-start;
      }

      .introTitle {
        font-size: 3.25rem;
        line-height: 120%;
      }
    }

    .section {
      padding-bottom: 2rem;

      .subTitle {
        font-size: 1.25rem;
        color: var(--white-text);
        font-weight: 600;
        width: fit-content;
        border-bottom: 2px solid var(--ez-orange);
        margin-bottom: 1.5rem;
      }
    }

    .list {
      list-style: disc;

      .listItem {
        list-style: inherit;
        margin: 0.5rem 2rem;
      }
    }

    .link {
      text-decoration: underline;
    }
  }

  .privacyScreen {
    position: fixed;
    inset: 0;
    z-index: 850;
  }
}
