// FUNNEL HERO SECTION
.funnelHero {
  width: 100%;
  max-width: var(--max-width);
  height: 100lvh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .funnelHeroText {
    text-align: left;

    .funnelHeroHeading {
      font-size: clamp(3.5rem, 4.25vw, 5.5rem);
      font-weight: 300;

      .boldWord {
        font-weight: 900;
      }
    }

    .funnelHeroSubHeading {
      margin-top: 0.75rem;
      font-size: clamp(1.25rem, 1vw, 3.25rem);
    }
  }

  .funnelButtonContainer {
    width: 75px;
    margin-top: 1.8rem;

    // font-size: clamp(1rem, 1vw, 3.25rem);
  }
}
