.logoContainer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--content-padding);
  position: absolute;

  @media (width <=850px) {
    padding: 0 var(--content-padding-sm);
  }

  .logo {
    cursor: pointer;
    position: relative;
    left: -10px;
  }
}
