@mixin orb($color, $direction) {
  width: 100vh;
  height: 100vh;
  background-color: $color;
  border-radius: 50%;
  filter: blur(140px);
  opacity: 0.45;
  position: absolute;
  z-index: 1;
  #{$direction}: -20%;
  top: 0;
}

.homeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .orangeOrb {
    @include orb(var(--ez-orange), left);
  }

  .purpleOrb {
    @include orb(var(--adobe-purple), right);
  }

  .homeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 100;

    .homeTitleContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: max-content;
      position: absolute;

      .homeTitle {
        font-weight: 900;
        font-size: 7.3rem;
        text-transform: uppercase;
        line-height: 100%;
      }
    }

    .dualPageContainer {
      justify-content: center;
      align-items: center;
      height: 100%;

      .divider {
        height: calc(100vh - 82px);
        background-color: #fff;
        width: 2px;
        opacity: 0.5;
      }

      .blurLeft {
        position: absolute;
        z-index: 700;
        right: 50%;
        width: 115px;
        height: 100%;
        background: linear-gradient(
          270deg,
          #010101 0%,
          rgb(1 1 1 / 70%) 49.73%,
          rgb(1 1 1 / 0%) 100%
        );
      }

      .blurRight {
        position: absolute;
        z-index: 700;
        left: 50%;
        width: 115px;
        height: 100%;
        background: linear-gradient(
          -270deg,
          #010101 0%,
          rgb(1 1 1 / 70%) 49.73%,
          rgb(1 1 1 / 0%) 100%
        );
      }

      /* PAGE PORTAL */
      .pagePortalContainer {
        width: calc(50vw - 2px);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

        .pagePortalTitle {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          z-index: 2;

          .title {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 6.625rem;
            cursor: default;
          }
        }

        .portalContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 40px;
          width: 100%;
          height: 80%;

          .tagListContainer {
            font-size: 1rem;
            display: flex;
            gap: 0.75rem;
          }
        }
      }
    }
  }
}
