:root {
  --ez-orange: #ff6947;
  --equinox-blue: #40434e;
  --heightened-grey: #a2a7a5;
  --adobe-purple: #5f34e0;
  --salty-green: #3fe0a6;
  --salmon-pink: #ff9093;
  --gray-text: #e5e7eb99;
  --white-text: #e8e8e8;
  --content-padding: 115px;
  --content-padding-sm: 30px;
  --max-width: 1800px;
  --vertical-marquee-height: 775px;
}

/* :root:has(.noScroll) {
  overflow-y: hidden;
}

@media screen and (width <= 1200px) {
  :root:has(.noScroll) {
    overflow-y: scroll;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
}

html {
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #fff;
  background-color: #000;

  /* To stop the content on the landing page from being off center on mobile view */
  position: relative;
  left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

p {
  line-height: normal;
}

ul,
li {
  list-style: none;
}

button {
  line-height: normal;
}

.largeText {
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  line-height: 100%;
}

@media screen and (width <=420px) {
  .largeText {
    font-size: clamp(2.75rem, 12vw, 4rem);
  }
}

.textGradient {
  background: linear-gradient(
    90deg,
    var(--ez-orange) 58.94%,
    var(--adobe-purple) 100%
  );
  background-clip: text;
  color: transparent;
}
