.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.animation {
  height: 100px;
  width: 100px;
  background-color: white;
}

/* HERO SECTION FOR DESIGN & CREATIVE PAGES */
.heroContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  padding: 0 var(--content-padding);
  position: relative;
  top: 100px;
}

.designPageCarousel {
  width: 43%;
  min-width: 520px;
  display: flex;
  gap: 2rem;
  position: relative;
  top: -100px;
}

@media screen and (width <= 1250px) {
  .designPageCarousel {
    min-width: 43%;
  }
}

@media screen and (width <= 800px) {
  .heroContainer {
    padding: 0 var(--content-padding-sm);
  }
}
