.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.animation {
  height: 100px;
  width: 100px;
  background-color: white;
}

/* HERO SECTION FOR DESIGN & CREATIVE PAGES */
.heroContainer {
  height: calc(100vh - 80px);
  width: 100%;
}
