.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.animation {
  height: 100px;
  width: 100px;
  background-color: white;
}

/* HERO SECTION FOR DESIGN & CREATIVE PAGES */
.heroContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--content-padding);
  position: relative;
  top: 100px;
}

.designPageCarousel {
  width: 40%;
  display: flex;
  gap: 2rem;
  height: 100vh;
  position: relative;
  top: -100px;
}

@media screen and (width <= 800px) {
  .heroContainer {
    padding: 0 var(--content-padding-sm);
  }
}
