.processSection {
    width: 100%;
    padding: 0 40px;
    margin: 120px 0;

    .processContainer {
        display: flex;
        margin-top: 5rem;

        .processCard {
            height: 100px;
            width: 100%;
            background-color: var(--equinox-blue);
            margin: 0 20px;
            border: 1px solid black;
        }
    }
}