@mixin text($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
  position: relative;
  z-index: 30;
  background-clip: text;
  color: transparent;
}

.processSection {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 40px;
  margin: 120px 0;

  .processTitle {
    white-space: nowrap;

    @media screen and (width <= 600px) {
      font-size: 11vw;
    }
  }

  .processContainer {
    display: flex;
    margin-top: 5rem;
    height: fit-content;

    @media screen and (width <=1130px) {
      flex-direction: column;
      gap: 2.5rem;
    }

    .processCard {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
      height: 100px;
      width: 100%;
      background-color: var(--equinox-blue);
      margin: 0 10px;
      border: 1px solid black;
      position: relative;
      z-index: 30;

      @media screen and (width <=1130px) {
        padding: 26px 20px;
      }

      .processText {
        @include text(1.15rem, 700);

        max-width: 160px;
        line-height: 100%;
      }

      .processNumber {
        @include text(1rem, 500);
      }

      .background {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .arrow {
        position: absolute;
        left: 0;
        top: -30px;
        z-index: 100;

        @media screen and (width <=1130px) {
          display: none;
        }
      }

      .arrowSmall {
        display: none;

        @media screen and (width <=1130px) {
          display: block;
          position: absolute;
          top: -3rem;
          left: 50%;
          z-index: 100;
          width: 1rem;
        }
      }
    }
  }
}
