.processSection {
    width: 100%;
    padding: 0 40px;
    margin: 120px 0;

    .processContainer {
        display: flex;
        margin-top: 5rem;
        height: fit-content;

        .processCard {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            align-items: center;
            height: 100px;
            width: 100%;
            background-color: var(--equinox-blue);
            margin: 0 10px;
            border: 1px solid black;
            position: relative;
            z-index: 30;

            .processText {
                font-size: 1.15rem;
                font-weight: 700;
                position: relative;
                z-index: 30;
                max-width: 160px;
                line-height: 100%;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            .processNumber {
                font-size: 1rem;
                font-weight: 500;
                position: relative;
                z-index: 30;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            .background {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .arrow {
                position: absolute;
                right: calc(-16% - 46px);
                top: 17px;
                z-index: 100;

                @media screen and (max-width: 1300px) {
                    right: calc(-23% - 46px);
                }
                @media screen and (max-width: 1090px) {
                    right: calc(-26% - 46px);
                }
            }
        }
    }
}