.contactSection {
  width: 100%;
  height: calc(100vh - 150px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding-top: 120px;
  margin-bottom: 40px;

  .orangeOrb {
    width: 100vh;
    height: 100vh;
    background-color: var(--ez-orange);
    border-radius: 50%;
    filter: blur(140px);
    opacity: 1;
    position: absolute;
    z-index: 1;
    right: -20%;
    top: 0;
  }

  .purpleOrb {
    width: 100vh;
    height: 100vh;
    background-color: var(--adobe-purple);
    border-radius: 50%;
    filter: blur(140px);
    opacity: 0.4;
    position: absolute;
    z-index: 1;
    left: -20%;
    top: 0;
  }

  .contactContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    justify-content: center;
    position: relative;
    z-index: 120;
    max-width: 1300px;

    .contactLargeText {
      font-weight: 800;
      font-size: 6.5rem;
      text-transform: uppercase;
      line-height: 100%;
      text-align: center;
    }

    .specialText {
      background-clip: text;
      color: transparent;
    }

    .contactDescription {
      font-family: var(--font-source-sans);
      font-size: 1.15rem;
      color: var(--white-text);
    }

    .contactButton {
      padding: 1rem 1.5rem;
      font-size: 1.25rem;
      font-weight: 500;
      margin-top: 2rem;
    }
  }
}
