@mixin orb($color, $direction) {
  width: 50vw;
  height: 50vw;
  max-width: 1500px;
  max-height: calc(100% + 120px);
  background-color: $color;
  border-radius: 50%;
  filter: blur(140px);
  opacity: 0.45;
  position: absolute;
  z-index: 1;
  #{$direction}: -20%;
  top: 0;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  will-change: transform;

  @media screen and (width <=1100px) {
    width: 70vw;
    height: 70vw;
    #{$direction}: -35%;
  }

  @media screen and (width <=550px) {
    width: 70vw;
    height: 100vw;
    #{$direction}: -40%;
  }
}

.contactSection {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 120px 0;
  margin-bottom: 65px;

  .policyLinks {
    display: flex;
    gap: 0.75rem;
    font-size: 0.8rem;
    width: 100%;
    justify-content: center;
    padding-right: 0;
    position: relative;
    margin-top: 1.5rem;
    z-index: 800;

    .link {
      color: #fff;
      position: relative;
      width: fit-content;

      &::after {
        content: "";
        position: absolute;
        display: block;
        margin-top: 0.25rem;
        left: 50%;
        width: 0;
        height: 1px;
        background: #fff;
        transition:
          width 0.2s ease-in-out,
          left 0.2s ease-in-out;
      }

      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }

  .orangeOrb {
    @include orb(var(--ez-orange), right);
  }

  .purpleOrb {
    @include orb(var(--adobe-purple), left);
  }

  .contactContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    justify-content: center;
    position: relative;
    z-index: 120;
    max-width: 1300px;

    @media screen and (width <=550px) {
      gap: 1.5rem;
    }

    .logo {
      @media screen and (width <=550px) {
        width: 84px;
        height: 14px;
      }
    }

    .contactLargeText {
      font-weight: 800;
      font-size: 6.5rem;
      text-transform: uppercase;
      line-height: 100%;
      text-align: center;

      @media screen and (width <=1100px) {
        font-size: clamp(3rem, 8vw, 5.5rem);
      }

      @media screen and (width <=550px) {
        font-size: clamp(2rem, 9vw, 3rem);
        line-height: 120%;
      }
    }

    .specialText {
      background-clip: text;
      color: transparent;
    }

    .contactDescription {
      font-family: var(--font-source-sans);
      font-size: 1.15rem;
      color: var(--white-text);
      text-align: center;

      @media screen and (width <=1100px) {
        font-size: clamp(0.75rem, 8vw, 1rem);
        padding: 0 var(--content-padding-sm);
      }

      .break {
        display: none;

        @media screen and (width <=590px) {
          display: block;
        }
      }
    }

    .contactButton {
      padding: 1rem 1.5rem;
      font-size: 1.25rem;
      font-weight: 500;
      margin: 2rem 0;

      @media screen and (width <=1000px) {
        font-size: clamp(0.75rem, 8vw, 1rem);
      }
    }
  }
}
