.fullScreenContainer {
  width: 100lvw;
  height: 100lvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9997;
  top: 0;
  left: 0;
  overflow: scroll;

  .opacLayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9990;
    opacity: 0.8;
    background: #000;
  }

  .fullVideoWrapper {
    width: fit-content;
    height: fit-content;
    position: relative;

    .exit {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      position: relative;
      z-index: 9999;
    }
  }
}
