.reviews {
  width: 100%;
  margin-top: 20px;
  padding: 120px 0;
  user-select: none;
  cursor: pointer;

  .reviewsTitle {
    display: block;

    @media screen and (width <= 800px) {
      font-size: 10vw;
    }

    @media screen and (width <= 400px) {
      font-size: 11vw;
    }

    .titleBreak {
      display: none;

      @media screen and (width <= 1000px) {
        display: block;
      }
    }
  }

  .slider {
    margin-top: 60px;
  }

  .reviewsContainer {
    display: flex;
    width: 100%;
    margin-top: 30px;
    cursor: pointer;

    @media screen and (width <= 1000px) {
      flex-direction: column;
      cursor: auto;
      user-select: text;
    }

    &:active {
      cursor: grab;

      @media screen and (width <= 1000px) {
        cursor: auto;
      }
    }
  }

  .reviewContainer {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    min-width: 33.333%;
    position: relative;
    gap: 9px;

    @media screen and (width > 1400px) {
      padding: 1rem 4rem;
    }

    @media screen and (width <= 1000px) {
      padding: 2.5rem var(--content-padding-sm);
    }

    .reviewText {
      font-family: var(--font-source-sans);

      @media screen and (width <= 800px) {
        font-size: 0.8rem;
      }
    }

    .reviewName {
      font-weight: 600;
      font-size: 1.5rem;
      margin-top: 21px;
    }

    .reviewRole {
      font-size: 0.8rem;
    }
  }

  // BUTTON

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    scroll-margin-top: 50vh;

    @media screen and (width > 1050px) {
      display: none;
    }

    .paginateButton {
      width: 75%;
      padding: 1.25rem;
      max-width: 260px;
    }
  }
}

// FEATURED REVIEW (HERO SECTION)

.featuredReview {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 60px;

  @media screen and (width <= 1075px) {
    display: none;
  }

  .reviewImage {
    background: transparent;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .review {
      color: rgb(229 231 235 / 60%);
      font-size: 0.75rem;
      font-style: italic;
    }

    .name {
      color: var(--white-text);
      font-size: 0.9rem;
    }
  }
}
