.reviews {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 65px;
  padding: 120px 0;

  .reviewsContainer {
    display: flex;
    width: max-content;
    margin-top: 30px;
    cursor: pointer;

    &:active {
      cursor: grab;
    }

    .reviewContainer {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      max-width: 33vw;
      position: relative;
      left: -33vw;
      gap: 9px;

      .reviewText {
        font-family: var(--font-source-sans);
      }

      .reviewName {
        font-weight: 600;
        font-size: 1.5rem;
        margin-top: 21px;
      }

      .reviewRole {
        font-size: 0.8rem;
      }
    }
  }
}

// FEATURED REVIEW (HERO SECTION)

.featuredReview {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 60px;

  .reviewImage {
    background: transparent;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .review {
      color: rgb(229 231 235 / 60%);
      font-size: 0.75rem;
      font-style: italic;
    }

    .name {
      color: var(--white-text);
      font-size: 0.9rem;
    }
  }
}
