.brandsSection {
  width: 100vw;
  margin-top: 150px;

  .brandsBanner {
    background-color: var(--adobe-purple);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .brandsBannerContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 calc(var(--content-padding) + 50px);
      padding-right: calc(var(--content-padding) + 25px);
      width: 100%;
      max-width: calc(var(--max-width) * 1.25);
      min-height: 250px;

      @media (width <=1400px) {
        padding: 0 calc(var(--content-padding-sm) + 70px);
        padding-right: calc(var(--content-padding-sm));
      }

      @media (width <=968px) {
        flex-direction: column;
        padding: var(--content-padding-sm) 0;
        text-align: center;
        white-space: nowrap;
      }

      .eltezzaLogo {
        position: relative;
        transform: rotate(270deg);

        @media (width <=968px) {
          transform: rotate(0deg);
        }
      }

      .brandsBannerText {
        font-size: 1.5rem;

        @media (width <=768px) {
          font-size: 1rem;
        }
      }
    }
  }

  // GRID
  .brandsGridContainer {
    background-color: #fff;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .brandsGrid {
      padding: var(--content-padding);
      display: grid;
      place-items: center;
      grid-row-gap: 130px;
      grid-template-columns: repeat(6, 1fr);
      height: auto;
      width: 100%;
      max-width: calc(var(--max-width) * 1.25);

      @media (width <=1300px) {
        grid-column-gap: 3rem;
        padding: var(--content-padding) var(--content-padding-sm);
      }

      @media (width <=768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .brandLogo {
        width: 100%;
        max-width: 120px;
        position: relative;
        height: fit-content;
      }
    }
  }
}
