.brandsSection {
  width: 100vw;
  margin-top: 150px;

  .brandsBanner {
    background-color: var(--adobe-purple);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .brandsBannerContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 var(--content-padding);
      max-width: var(--max-width);
      width: 100%;

      .brandsBannerText {
        font-size: 1.5rem;
      }
    }
  }
}
