.teamSection {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--content-padding);

  @media screen and (width <=800px) {
    padding: 0 var(--content-padding-sm);
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 120px;

    .teamDescription {
      font-family: var(--font-source-sans);
      max-width: 50%;

      @media screen and (width <=800px) {
        max-width: none;
      }

      @media screen and (width <=500px) {
        font-size: 0.85rem;
      }
    }
  }

  .teamGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.25rem 2rem;
    margin-top: 60px;

    @media screen and (width <=1050px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <=720px) {
      grid-template-columns: 1fr;
    }

    .memberContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-transform: uppercase;

      .imageContainer {
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;

        .memberEmailContainer {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 800;
          text-transform: lowercase;

          .memberEmail {
            display: flex;
            align-items: center;
            text-align: center;
            gap: 0.5rem;
            font-size: 100%;
            font-weight: 600;
            color: #fff;
            opacity: 1;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              display: block;
              margin-top: 2rem;
              left: 50%;
              width: 0;
              height: 3px;
              background: #fff;
              transition:
                width 0.2s ease-in-out,
                left 0.2s ease-in-out;
            }

            &:hover::after {
              width: 100%;
              left: 0;
            }
          }
        }

        .imageWrapper {
          transition: transform 1.5s cubic-bezier(0, 0, 0.1, 1);
          overflow: hidden;

          .teamImg {
            width: 100%;
            height: auto;
            object-fit: cover;
            cursor: pointer;
          }
        }
      }

      .memberName {
        font-weight: 600;
        color: #fff;
      }

      .lineThrough {
        height: 1px;
        width: 100%;
        background: #fff;
      }

      .positionContainer {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  // BUTTON

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    scroll-margin-top: 50vh;

    @media screen and (width > 1050px) {
      display: none;
    }

    .paginateButton {
      width: 75%;
      padding: 1.25rem;
      max-width: 260px;
    }
  }
}
