.teamSection {
  width: 100%;
  padding: 0 var(--content-padding);
  margin: 120px 0;

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 120px;

    .teamDescription {
      font-family: var(--font-source-sans);
      max-width: 50%;
    }
  }

  .teamGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 60px;

    .memberContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-transform: uppercase;

      .teamImg {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .memberName {
        font-weight: 600;
        color: #fff;
      }

      .lineThrough {
        height: 1px;
        width: 100%;
        background: #fff;
      }

      .positionContainer {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
