.servicesContainer {
  width: 100%;
  padding: 150px 0;

  .servicesIntro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
    padding-bottom: 2rem;

    @media (width <=960px) {
      justify-content: center;
    }

    .servicesIntroHeading {
      font-size: 2.25rem;
    }

    .servicesButton {
      @media (width <=960px) {
        display: none;
      }
    }
  }

  .services {
    display: grid;
    grid-auto-flow: column;
    margin-top: 2rem;
    grid-gap: 2rem;

    @media (width <=960px) {
      display: flex;
      flex-direction: column;
    }

    .servicesText {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      white-space: pre-line;

      @media (width <=1300px) {
        white-space: wrap;
      }

      &:nth-child(2) {
        justify-self: center;
      }

      &:nth-child(3) {
        justify-self: end;
      }

      .servicesHeadingContainer {
        display: flex;
        font-size: 1.6rem;

        .servicesNumber {
          color: var(--adobe-purple);
          padding: 0 1rem;
          padding-left: 0;
          display: inline-block;
          font-weight: 600;
          position: relative;
          top: 3px;
        }

        .servicesHeading {
          white-space: pre-line;
          position: relative;
          height: 100%;
          font-weight: 600;

          @media (width <=960px) {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
