textarea.textarea {
  font-family: var(--source-sans);
  font-size: 1rem;
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  padding: 1rem 0;
  max-width: 100%;
  min-width: 100%;
  min-height: 65px;
  position: relative;

  &::placeholder {
    color: #fff;
    opacity: 0.65;
  }

  &:focus {
    outline: 1px ridge rgba($color: #fff, $alpha: 80%);
    border-radius: 12px;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

textarea.error {
  border-bottom: 2px solid #f04438;

  &::placeholder {
    color: #f04438;
    opacity: 0.6;
  }
}
