textarea.textarea {
  font-family: var(--source-sans);
  font-size: 1rem;
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  padding: 1rem 0;
  max-width: 100%;
  min-width: 100%;
  min-height: 65px;
  position: relative;

  &:hover {
    box-shadow: 0 0 0 1px var(--gray-text);
  }

  &::placeholder {
    color: #fff;
    opacity: 0.65;
  }

  &:focus {
    box-shadow: 0 0 0 1px #fff;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.label {
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 1rem;
  padding: 0 3px;
  left: 0.5rem;
  cursor: text;
}

textarea.textarea:focus ~ .label {
  font-size: 0.85rem;
  transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: -0.15rem;
  background-color: #000;
}

textarea.error {
  border-bottom: 2px solid #f04438;

  &::placeholder {
    color: #f04438;
    opacity: 0.6;
  }
}

label.error {
  color: red;
}
