.switch {
  width: 160px;
  height: 48px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 0.5rem;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  z-index: 999;

  @media screen and (width <= 800px) {
    width: 75px;
    height: 40px;
  }

  .switchText {
    display: block;

    @media screen and (width <= 800px) {
      display: none;
    }
  }

  .ellipse {
    width: 34px;
    height: 34px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;

    @media screen and (width <= 800px) {
      width: 25px;
      height: 25px;
    }
  }
}
