.carouselContainer {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;

  .carouselTrack {
    display: flex;
    position: relative;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    overflow: hidden;

    &:active {
      animation-play-state: paused;
    }
  }

  .horizontal {
    // animation: slide 30s linear infinite;

    // @keyframes slide {
    //   to {
    //     transform: translate(calc(-50% - 0.5rem));
    //   }
    // }
  }

  // .horizontalReverse {
  //   // animation: slide 30s linear reverse infinite;

  //   // @keyframes slide {
  //   //   to {
  //   //     transform: translate(calc(-50% - 0.5rem));
  //   //   }
  //   // }
  // }

  .vertical {
    // max-height: fit-content;
    flex-direction: column;
    position: relative;
    bottom: -600px;

    // animation: slide-up 22s linear infinite;

    // @keyframes slide-up {
    //   to {
    //     transform: translateY(calc(-100% - 0.5rem));
    //   }
    // }
  }

  .verticalReverse {
    // max-height: fit-content;
    position: relative;
    top: -600px;
    flex-direction: column-reverse;
    overflow: hidden;

    // animation: slide-down 7s linear reverse infinite;

    // @keyframes slide-down {
    //   to {
    //     transform: translateY(
    //       calc(var(--vertical-marquee-height) * -1.6161));
    //   }
    // }
  }
}

.carouselCard {
  width: 100%;
  height: fit-content;
  cursor: pointer;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;

  .carouselBadge {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .carouselBadgeSmall {
    top: 0.7rem;
    right: 0.55rem;
  }

  .carouselCardImg {
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
    z-index: -1;
  }
}
