.button {
    width: auto;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap;
}

.mainVariant {
    padding: 1rem 0.5rem;
    border: 1px solid var(--white-text);
    border-radius: 8px;
    background: transparent;
    color: var(--white-text);
    font-weight: 500;
    width: 222px;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 10;

    .gradientBackground {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        border-radius: 8px;
        background: linear-gradient(90deg, var(--ez-orange) 0%, var(--adobe-purple) 100%);
    }
}

.homeOrange {
    font-weight: 500;
    padding: 20px 166px;
    color: #000;
    background-color: var(--ez-orange);
}

.homePurple {
    padding: 20px 166px;
    color: #fff;
    background-color: var(--adobe-purple);
}