.opacLayer {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: absolute;
  z-index: 9998;
  top: 0;
}

.modalContainer {
  width: 500px;
  height: 100vh;
  padding: 30px 50px;
  background: rgb(0 0 1 / 90%);
  backdrop-filter: blur(6px);
  position: absolute;
  z-index: 9999;
  right: 0;
  display: flex;
  flex-direction: column;

  .close {
    cursor: pointer;
  }

  .formTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
  }

  .formDescription {
    margin-top: 0.8rem;
    font-family: var(--font-source-sans);
  }

  .form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .formSubmitBtn {
      margin-top: 2rem;
    }
  }
}
