@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opacLayer {
  width: 100vw;
  height: 100vh;
  left: 0;
  background-color: #000;
  position: fixed;
  z-index: 9998;
  top: 0;
}

.modalContainer {
  max-width: 500px;
  width: 100vw;
  height: 100vh;
  padding: 30px 50px;
  background: rgb(0 0 1 / 90%);
  backdrop-filter: blur(6px);
  position: fixed;
  z-index: 9999;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  .close {
    cursor: pointer;
  }

  .formTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
  }

  .formDescription {
    margin-top: 0.8rem;
    font-family: var(--font-source-sans);
  }

  .form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .inputWrap {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      position: relative;

      .formFeedback {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.85rem;
        color: red;
        position: relative;
        margin-left: 0.5rem;
        padding-left: 3px;
      }
    }

    .errorMsg {
      color: red;
      font-family: var(--font-source-sans);
    }

    .formSubmitBtn {
      margin-top: 2rem;
    }
  }

  // DETAILS

  .details {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;

    .detailsDescription {
      font-family: var(--font-source-sans);
    }

    .socialLinks {
      display: flex;
      gap: 0.5rem;
    }
  }

  // SUBMIT SCREEN

  .submitScreenContainer {
    @include flex-col-center;

    height: 100%;
    gap: 2rem;
    margin-top: 40px;

    .submitScreenText {
      @include flex-col-center;

      gap: 1rem;

      .submittedDescription {
        font-family: var(--font-source-sans);
        font-size: 1rem;
        color: #fff;
      }
    }

    .submittedCloseBtn {
      padding: 1rem 1.5rem;
      font-weight: 500;
      width: fit-content;
    }
  }
}
