// FUNNEL HERO SECTION
.header {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--content-padding);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;

  @media (width <=960px) {
    align-items: center;
  }

  .headerText {
    text-align: left;

    @media (width <=960px) {
      text-align: center;
      white-space: nowrap;
    }

    .headerHeading {
      font-size: clamp(3.5rem, 4.25vw, 5.5rem);
      font-weight: 300;

      @media (width <=960px) {
        font-size: clamp(2rem, 3vw, 4rem);
      }

      @media (width <=768px) {
        font-size: clamp(1.5rem, 6vw, 2.8rem);
      }

      @media (width <=400px) {
        font-size: 1.25rem;
      }

      .boldWord {
        font-weight: 900;
      }
    }

    .headerSubHeading {
      margin-top: 0.75rem;
      font-size: clamp(1.25rem, 1vw, 3.25rem);
      white-space: pre-wrap;

      @media (width <=960px) {
        font-size: clamp(1rem, 1vw, 2.25rem);
      }

      @media (width <=768px) {
        font-size: clamp(1rem, 1vw, 1.25rem);
      }

      @media (width <=400px) {
        font-size: 0.75rem;
      }
    }
  }

  $base: 0.75rem;

  .arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .chevron {
      cursor: pointer;
      position: absolute;
      bottom: $base * 9;
      width: $base * 3.5;
      height: $base * 0.8;
      opacity: 0;
      transform: scale(0.3);
      animation: move-chevron 3s ease-out infinite;
      z-index: 9999;
    }

    .chevron:first-child {
      animation: move-chevron 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
      animation: move-chevron 3s ease-out 2s infinite;
    }

    .chevron::before,
    .chevron::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
      background: #fff;
    }

    .chevron::before {
      left: 0;
      transform: skewY(30deg);
    }

    .chevron::after {
      right: 0;
      width: 50%;
      transform: skewY(-30deg);
    }

    @keyframes move-chevron {
      25% {
        opacity: 1;
      }

      33.3% {
        opacity: 1;
        transform: translateY($base * 3.8);
      }

      66.6% {
        opacity: 1;
        transform: translateY($base * 5.2);
      }

      100% {
        opacity: 0;
        transform: translateY($base * 8) scale(0.5);
      }
    }
  }

  .buttonContainer {
    margin-top: 1.8rem;
    position: relative;
    z-index: 99;

    .applyButton {
      font-size: clamp(1rem, 0.75vw, 2rem);

      @media (width <=960px) {
        font-size: clamp(1rem, 1vw, 2.25rem);
      }

      @media (width <=768px) {
        font-size: clamp(1rem, 1vw, 1.25rem);
      }

      @media (width <=400px) {
        font-size: 0.75rem;
      }
    }
  }
}

// CARD COMPONENT

.productCard {
  height: 24rem;

  // Changed from 30 rem width
  width: auto;
  position: relative;

  // flex-shrink: 0;
}

.groupProduct:hover .productLink {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.productImage {
  object-fit: cover;
  object-position: left top;

  // Changed from absolute positioning + height & width 100%
  position: relative;
  height: 24rem;
  width: auto;
  inset: 0;
  display: block;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.productOverlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: black;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.groupProduct:hover .productOverlay {
  @media (width >=960px) {
    opacity: 0.8;
  }
}

.productTitle {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 0;
  color: white;
  transition: opacity 0.3s ease;
}

.groupProduct:hover .productTitle {
  @media (width >=960px) {
    opacity: 1;
  }
}
