@mixin orb($color, $top, $right) {
  width: 100%;
  height: 100%;
  background-color: $color;
  border-radius: 50%;
  filter: blur(140px);
  opacity: 0.45;
  position: absolute;
  z-index: 1;
  right: $right;
  top: $top;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  will-change: transform;

  @media screen and (width <=1075px) {
    width: 75vw;
    height: 75vw;
    top: -35vw;
    right: -35vw;
  }

  @media screen and (width <=550px) {
    width: 100vw;
    height: 100vw;
    top: -50vw;
    right: -50vw;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.25rem;
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 700;

  @media screen and (width <=800px) {
    width: auto;
  }

  // HEADING
  .heroHeadingContainer {
    display: flex;
    flex-direction: column;

    .heroHeading {
      font-size: clamp(3.5rem, 7.25vw, 5.5rem);
      font-weight: 800;
      text-transform: uppercase;
      line-height: 100%;
      white-space: nowrap;

      @media screen and (width <=800px) {
        font-size: 3.85rem;
      }

      @media screen and (width <=400px) {
        font-size: 3rem;
      }

      .headingGradient {
        background-clip: text;
        color: transparent;
      }
    }
  }

  // DESCRIPTION
  .heroDescription {
    font-family: var(--font-source-sans);
    color: var(--gray-text);
    opacity: 0.8;
    max-width: calc(100vw - var(--content-padding-sm) * 2);

    @media screen and (width <=400px) {
      font-size: 0.9rem;
    }
  }

  // TAGS
  .heroTags {
    display: flex;
    gap: 1rem;

    @media screen and (width <=800px) {
      flex-wrap: wrap;
      align-items: center;
    }

    @media screen and (width <=525px) {
      justify-content: center;
      max-width: calc(100vw - var(--content-padding-sm) * 2);
    }
  }

  .creativeHeroTags {
    @media screen and (width <=1250px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width < 1075px) {
      display: flex;
    }
  }
}

// CREATIVE HERO SECTION

.creativeHeroContainer {
  width: 40%;
  height: 100%;
  min-height: 420px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media screen and (width <=1075px) {
    position: absolute;
    right: 0;
    top: 0;
  }

  .purpleOrb {
    @include orb(
      var(--adobe-purple),
      -120px,
      calc(-10% - var(--content-padding))
    );
  }

  .purpleOrbSmall {
    @include orb(var(--adobe-purple), 100px, 0);

    left: -100px;
    opacity: 0.2;

    @media screen and (width <=1075px) {
      display: none;
    }
  }

  .gridColSpanTwo {
    grid-column: span 2;
  }

  .creativeHeroVideo {
    width: 100%;
    border-radius: 12px;
    position: relative;
    z-index: 10;

    @media screen and (width <=1075px) {
      display: none;
    }
  }

  .creativeImg {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    position: relative;
    z-index: 10;

    @media screen and (width <=1075px) {
      display: none;
    }
  }
}

// DESIGN HERO SECTION

.designPageCarousel {
  width: 43%;
  min-width: 520px;
  display: flex;
  gap: 2rem;
  position: relative;
  top: -100px;
  height: calc(100vh - 95px);
  min-height: 600px;
  max-height: var(--vertical-marquee-height);

  @media screen and (width <=1250px) {
    min-width: 43%;
  }

  @media screen and (width <=1075px) {
    position: absolute;
    right: 0;
    top: 0;
  }

  .blurBottom {
    display: inline-block;
    position: absolute;
    z-index: 200;
    right: 0;
    bottom: -200px;
    width: 100%;
    height: 500px;
    background: linear-gradient(
      180deg,
      rgb(0 0 1 / 0%) 0%,
      rgb(0 0 1 / 60%) 35.94%,
      rgb(0 0 1 / 90%) 55.72%,
      #000001 76.35%,
      #000001 100%
    );
  }

  .designHeroMarquee {
    position: relative;
    z-index: 10;

    @media screen and (width <=1075px) {
      display: none;
    }
  }

  .orangeOrb {
    @include orb(var(--ez-orange), -120px, calc(-10% - var(--content-padding)));
  }

  .orangeOrbSmall {
    @include orb(var(--ez-orange), 100px, 0);

    left: -100px;
    opacity: 0.2;

    @media screen and (width <=1075px) {
      display: none;
    }
  }
}
