.calendlyContainer {
  position: fixed;
  z-index: 9999;

  @media (width<=649px) {
    margin-top: 55px;
  }
}

.calendlyEmbed {
  height: 100dvh;
  width: 100%;
  position: fixed;
  z-index: 9999;
  overflow: scroll;
}

.exitContainer {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;

  @media (width<=998px) {
    background-color: rgba($color: #000, $alpha: 60%);
    backdrop-filter: blur(3px);
  }

  .exitWrapper {
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (width<=998px) {
      max-width: 678px;
      position: fixed;
    }

    @media (width<=649px) {
      justify-content: flex-start;
      max-width: none;
    }

    .exitIcon {
      cursor: pointer;
      z-index: 9999;
      border-radius: 25px;
      background-color: rgba($color: #000, $alpha: 60%);
      backdrop-filter: blur(3px);
    }
  }
}
