.calendlyEmbed {
  height: 100svh;
  width: 100%;
  position: fixed;
  z-index: 9999;
  overflow: scroll;
}

.exitIcon {
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
  z-index: 9999;

  @media (width<=649px) {
    position: relative;
    border-radius: 25px;
    right: calc(0vw - 5px);
  }
}
