.brandsSection {
  width: 100%;
  max-width: 1800px;
  padding: 0 var(--content-padding);
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;

  @media (width <=928px) {
    padding: 0 var(--content-padding-sm);
  }

  .brandsTitle {
    margin-top: 120px;
    white-space: nowrap;

    @media screen and (width <= 900px) {
      font-size: 7vw;
    }

    @media screen and (width <= 768px) {
      font-size: 12vw;
    }

    .titleBreak {
      display: none;

      @media screen and (width <= 768px) {
        display: block;
      }
    }
  }

  .brandsGrid {
    display: grid;
    place-items: center;
    grid-row-gap: 230px;
    width: 100%;
    position: relative;

    @media (width <=1028px) {
      grid-column-gap: 3rem;
    }

    @media (width <=768px) {
      grid-row-gap: 70px;
    }

    @media (width <=400px) {
      grid-row-gap: 1%;
    }

    .brandLogo {
      width: 100%;
      max-width: 120px;
      position: relative;
      border-bottom: 1px solid rgba($color: #525252, $alpha: 65%);

      @media (width > 768px) {
        border-bottom: none;
        height: fit-content;
      }
    }
  }

  .threeCols {
    grid-template-columns: repeat(3, 1fr);

    @media (width <=768px) {
      // Create four columns and span each logo across 2 columns
      grid-template-columns: repeat(4, 1fr);

      .brandLogo {
        grid-column: span 2;
      }
    }

    // Center the last logo
    .brandLogo:last-child:nth-child(3n - 3) {
      grid-column-end: 4;
    }
  }

  .fourCols {
    grid-template-columns: repeat(4, 1fr);

    @media (width <=768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
