.header {
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--content-padding);
    position: fixed;
    top: 0;
    z-index: 999;

    .headerBackground {
        position: absolute;
        z-index: 900;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.8;
    }

    .headerLogo {
        cursor: pointer;
        position: relative;
        z-index: 999;
    }
}