// CREATIVE WORK SECTION
.workSectionCreative {
  width: 100%;
  max-width: var(--max-width);
  padding: 120px var(--content-padding);
  margin-top: 120px;

  @media screen and (width <=800px) {
    padding: 120px var(--content-padding-sm);
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
    position: relative;

    .purpleUnderline {
      font-family: var(--font-source-sans);
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        left: -3px;
        top: 13px;
        z-index: -1;
        background: var(--adobe-purple);
      }
    }

    .workDescription {
      font-family: var(--font-source-sans);
      position: relative;
      text-align: center;
    }
  }

  .creativeGrid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(6, 1fr);

    @media screen and (width <=800px) {
      gap: 0.35rem;
    }

    .gridColSpanSix {
      grid-column: span 6;
    }

    .gridColSpanThree {
      grid-column: span 3;
    }

    .gridColSpanTwo {
      grid-column: span 2;
    }

    .creativeVideoContainer {
      position: relative;
      width: 100%;
      height: fit-content;

      .creativeVideo {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 12px;
        opacity: 0.5;
        position: relative;
        z-index: 60;
      }

      .videoThumbail {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        cursor: pointer;
        z-index: 90;
        object-fit: cover;
      }

      // TEXT DETAILS

      .videoDetails {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        z-index: 80;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        padding: 0.5rem;

        .clientContainer {
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.75rem;
          justify-content: center;
        }

        .clientName {
          font-size: 1.5rem;

          @media screen and (width <=1200px) {
            font-size: clamp(1.25rem, 6vw, 0.5rem);
          }

          @media screen and (width <=500px) {
            font-size: clamp(0.8rem, 6vw, 0.5rem);
          }
        }

        .campaignName {
          font-size: 1rem;

          @media screen and (width <=1200px) {
            font-size: clamp(0.75rem, 6vw, 0.3rem);
          }

          @media screen and (width <=500px) {
            font-size: clamp(0.6rem, 6vw, 0.3rem);
          }
        }

        .lineThrough {
          width: 65px;
          height: 4px;
          background-color: var(--adobe-purple);
          border: none;
        }
      }
    }
  }
}

// FULL SCREEN VIDEO

.fullScreenContainer {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9997;
  left: 0;
  overflow: hidden;

  .opacLayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9990;
    opacity: 0.8;
    background: #000;
    cursor: pointer;
  }

  .fullVideoWrapper {
    width: fit-content;

    .exit {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      position: relative;
      z-index: 9999;
      cursor: pointer;
    }

    .creativeVideoFull {
      width: auto;
      height: calc(100vh - 60px);
      max-height: 900px;
      position: relative;
      z-index: 9999;
    }
  }
}

// DESIGN WORK SECTION
.workSectionDesign {
  width: 100%;
  max-width: 1500px;
  padding-top: 150px;
  height: auto;
  position: relative;
  z-index: 850;

  .carouselContainer {
    height: 400px;
  }

  .wheelContainer {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 90px;
    left: var(--content-padding);

    @media screen and (width <=800px) {
      position: relative;
    }

    .wheelBlur {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(6px);
      background: rgb(255 255 255 / 20%);
      border-radius: 50%;
      z-index: 750;
    }

    .wheel {
      position: relative;
      z-index: 800;
      animation: rotate 15s linear infinite;

      @media screen and (width <=800px) {
        position: relative;
        top: 0;
        left: 0;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(-360deg);
        }
      }
    }
  }

  .workDesignText {
    color: var(--white-text);
    text-align: center;
  }
}
