// CREATIVE WORK SECTION
.workSectionCreative {
  width: 100%;
  padding: 120px var(--content-padding);
  margin: 120px 0;

  @media screen and (width <=800px) {
    padding: 120px var(--content-padding-sm);
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
    position: relative;

    .purpleUnderline {
      font-family: var(--font-source-sans);
      position: relative;
      width: 45px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 45px;
        height: 5px;
        left: -3px;
        top: 13px;
        z-index: -1;
        background: var(--adobe-purple);
      }
    }

    .workDescription {
      font-family: var(--font-source-sans);
      position: relative;
      text-align: center;
    }
  }

  .creativeGrid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(6, 1fr);

    @media screen and (width <= 800px) {
      gap: 0.35rem;
    }

    .gridColSpanSix {
      grid-column: span 6;
    }

    .gridColSpanThree {
      grid-column: span 3;
    }

    .gridColSpanTwo {
      grid-column: span 2;
    }

    .creativeVideoContainer {
      position: relative;
      width: 100%;
      height: fit-content;

      .creativeVideo {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 12px;
        opacity: 0.6;
        position: relative;
        z-index: 60;
      }

      .videoThumbail {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        cursor: pointer;
        z-index: 90;
      }

      .videoDetails {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        z-index: 80;
        text-transform: uppercase;
        font-weight: 500;

        .campaignName {
          font-size: 1.5rem;
        }

        .brandName {
          font-size: 1rem;
        }

        .lineThrough {
          width: 50px;
          height: 4px;
          background-color: var(--adobe-purple);
        }
      }
    }
  }
}

// DESIGN WORK SECTION
.workSectionDesign {
  width: 100%;
  margin: 120px 0;
  padding-top: 120px;
  height: auto;
  position: relative;

  .carouselContainer {
    height: 400px;
  }

  .wheelContainer {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (width <=800px) {
      position: relative;
    }

    .wheel {
      position: absolute;
      z-index: 800;
      left: var(--content-padding);
      top: -10px;
      animation: rotate 15s linear infinite;

      @media screen and (width <=800px) {
        position: relative;
        top: 0;
        left: 0;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(-360deg);
        }
      }
    }
  }

  .workDesignText {
    color: var(--white-text);
    text-align: center;
  }
}
