.btsSection {
  width: 100%;
  max-width: 1800px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 var(--content-padding);
  padding-left: 0;

  @media screen and (width <=800px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 4rem;
    padding: 0 var(--content-padding-sm);
  }

  .btsContentContainer {
    display: flex;
    position: relative;
    width: 50%;
    right: calc(var(--content-padding) + 100px);
    padding: 0 var(--content-padding);

    @media screen and (width <=1400px) {
      right: 30vw;
    }

    @media screen and (width <=1150px) {
      right: calc(29vw + 75px);
    }

    @media screen and (width <=1100px) {
      right: 65px;
    }

    @media screen and (width <=1000px) {
      right: 0;
      left: 0;
      width: 100%;
      padding: 0;
      justify-content: flex-start;
    }

    .invisible {
      position: absolute;
      visibility: hidden;
    }

    // BTS IMAGES AND VIDEOS

    .btsImg {
      object-fit: cover;
      object-position: 50% 50%;
      width: 420px;
      max-width: 50%;
      height: 575px;
      margin-left: 3rem;
      min-width: 420px;
      position: relative;
      background: #fff;

      @media screen and (width <=1400px) {
        height: 50vw;
        width: auto;
        max-width: 50vw;
      }

      @media screen and (width <=900px) {
        max-height: 70vh;
      }

      @media screen and (width <=800px) {
        width: 100%;
        min-width: calc(100vw - var(--content-padding-sm) * 2);
        min-height: 400px;
        max-height: 100vh;
        margin-left: 0;
      }
    }

    .hiddenImage {
      position: relative;
      left: 0;
      margin-left: 0;
      opacity: 0.2;

      @media screen and (width <=1100px) {
        display: none;
      }
    }
  }

  // TEXT

  .textContainer {
    display: flex;
    flex-direction: column;

    @media screen and (width <=800px) {
      flex-direction: row;
      gap: 0.75rem;
    }

    .mainImgCreative {
      width: 15vw;
      height: auto;
      max-width: 235px;

      @media screen and (width <=800px) {
        width: 40%;
        max-width: none;
      }
    }

    .creativeImgDesktop {
      display: block;

      @media screen and (width <=800px) {
        display: none;
      }
    }

    .creativeImgMobile {
      display: block;

      @media screen and (width > 800px) {
        display: none;
      }
    }

    .textBlock {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      line-height: 1;

      @media screen and (width <=800px) {
        gap: 0.5rem;
      }

      .mainImgDesign {
        width: 150px;
        height: auto;

        @media screen and (width <=800px) {
          width: 40%;
        }
      }

      .secondaryImgDesign {
        height: 60px;
        width: auto;

        @media screen and (width <=800px) {
          width: 20%;
          height: 3.75rem;
        }
      }

      .btsText {
        white-space: nowrap;
        text-align: left;
        align-self: center;
        font-size: clamp(3rem, -0.5556rem + 7.1111vw, 7rem);

        @media screen and (width <=800px) {
          font-size: clamp(4rem, 10vw, 7rem);
        }

        @media screen and (width <=500px) {
          font-size: clamp(3rem, 4vw, 4rem);
        }

        @media screen and (width <=400px) {
          font-size: clamp(2.35rem, 5vw, 3.8rem);
        }
      }

      .designBtsText {
        font-size: clamp(2.15rem, 4.25vw, 7rem);

        @media screen and (width <=800px) {
          font-size: clamp(4rem, 10vw, 6rem);
        }

        @media screen and (width <=500px) {
          font-size: clamp(3rem, 4vw, 4rem);
        }

        @media screen and (width <=400px) {
          font-size: clamp(2.35rem, 5vw, 3.8rem);
        }
      }
    }
  }
}
